/*Generic Stylings for text*/
h1 {
    text-align: center;
}
p {
    text-align: center;
    
}
ul {
    text-align: center;
    list-style: none;
}

/*Styles for MainPage*/
.container {
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
    gap: 25px;
    grid-template-rows: repeat(20, 100px);
}

.item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
.item-2 {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 8;
}
.item-3 {
    background-color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end:  12;
}
.item-4 {
    background-color:indianred;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 16;
}
.item-5 {
    background-color: sienna;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    grid-row-end: 20;
}

@media all and (min-width:800px){
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 150px);
}

.item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item-2 {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item-3 {
    background-color: goldenrod;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item-4 {
    background-color:indianred;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item-5 {
    background-color: sienna;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}
}
/*Styles for "20x20"*/
#basket {
    display: grid;
    height: 100vh;
    border: 1px black solid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    padding: 10px;
}

#square {
    border: 1px green solid;
    background-color:plum;
    opacity: 50%;
    grid-column: 1/5;
    grid-row: 1/5;
}

#circle {
    border: 1px rebeccapurple solid;
    background-color:palegreen;
    opacity: 50%;
    grid-column: 2/5;
    grid-row: 2/5;
    text-align: center;

}

#triangle {
    border: 1px orangered solid;
    background-color:coral;
    opacity: 50%;
    grid-column: 1/5;
    grid-row: 1/1;
    padding-top: 75px;
}


/*Styles for "doorway*/
.block {
    display: grid;
    grid-template: repeat(13, 30px) / repeat(9, 30px);
}
.fore {
    background-color:darkblue;
    grid-area: 1 / 1 / 13 / 3;
    order:2;
}
.midd {
    background-color:lightskyblue;
    grid-area: 2 / 1 / 13 / 8;
    order:1;
}
.back {
    background-color:blue;
    grid-area: 1 / 1 / 13 / 9;
    order:0;
}

/*Styles for Final Project*/

.flex {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.image {
    display: grid;
    max-width:504px;      
    min-width:400px;
    max-height:720px;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 1fr);    
}

img {
    width: 100%;
    height: auto;
}

.background {
    height: 100%;
}
.parts{
    
}
#one {
    grid-area: 1 / 3 / 4 / 10;
    order:9;
}
#two {
    grid-area: 4 / 1 / 7 / 10;
    order:8;
}
#three {
    grid-area: 1 / -1 / 2 / -6;
    order:7;
}
#four {
    /*can't use fractional units in fr*/
    grid-area: 3 / -1 / 6 / -5;
    order:6;
}
#five {
    grid-area: -5 / -4 / -7 / -5 ;
    order:5;

}
#six {
    grid-area:-3 / 1 / -4 / 16;
    order:4;
}
#seven {
    grid-area: -2 / 1 / -3 / 16 ;
    order:3;
}
#eight {
    grid-area: -1 / 1 / -2 / 16;
    order:2;
}
#nine {
    grid-area: 1/1/13/16;
    order:1;
}