
.container {
    display: grid;
    grid-template-columns: 1fr;
}

.item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 1;
}
.item-2 {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-3 {
    background-color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-4 {
    background-color:indianred;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-5 {
    background-color: sienna;
    grid-column-start: 1;
    grid-column-end: 2;
}



@media all and (min-width:800px){
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
}
.item-2 {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-3 {
    background-color: goldenrod;
    grid-column-start: 2;
    grid-column-end: 5;
}
.item-4 {
    background-color:indianred;
    grid-column-start: 5;
    grid-column-end: 6;
}
.item-5 {
    background-color: sienna;
    grid-column-start: 1;
    grid-column-end: 6;
}