/*Generic Stylings for text*/
h1 {
    text-align: center;
}
p {
    text-align: center;
    
}
ul {
    text-align: center;
    list-style: none;
}

/*Styles for MainPage*/
.container {
    display: grid;
    grid-template-columns: 600px;
    justify-content: center;
    gap: 25px;
    grid-template-rows: repeat(20, 100px);
}

.item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
.item-2 {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 8;
}
.item-3 {
    background-color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end:  12;
}
.item-4 {
    background-color:indianred;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 16;
}
.item-5 {
    background-color: sienna;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 16;
    grid-row-end: 20;
}

@media all and (min-width:800px){
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 150px);
}

.item-1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item-2 {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item-3 {
    background-color: goldenrod;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item-4 {
    background-color:indianred;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item-5 {
    background-color: sienna;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}
}
/*Styles for "20x20"*/
#basket {
    display: grid;
    height: 100vh;
    border: 1px black solid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    padding: 10px;
}

#square {
    border: 1px green solid;
    background-color:plum;
    opacity: 50%;
    grid-column: 1/5;
    grid-row: 1/5;
}

#circle {
    border: 1px rebeccapurple solid;
    background-color:palegreen;
    opacity: 50%;
    grid-column: 2/5;
    grid-row: 2/5;
    text-align: center;

}

#triangle {
    border: 1px orangered solid;
    background-color:coral;
    opacity: 50%;
    grid-column: 1/5;
    grid-row: 1/1;
    padding-top: 75px;
}


/*Styles for "doorway*/
.block {
    display: grid;
    grid-template: repeat(13, 30px) / repeat(9, 30px);
}
.fore {
    background-color:darkblue;
    grid-area: 1 / 1 / 13 / 3;
    order:2;
}
.midd {
    background-color:lightskyblue;
    grid-area: 2 / 1 / 13 / 8;
    order:1;
}
.back {
    background-color:blue;
    grid-area: 1 / 1 / 13 / 9;
    order:0;
}